<!DOCTYPE html>
<!-- Mi primer página oficial -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop<a/>
                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a class="nav-link" href="ejemplo2">Mis autos</a></li>
                        <li class="nav-menu-item"><a class="nav-link" href="multimedia">Multimedia</a></li>
                        <li class="nav-menu-item"><a class="nav-link" href="iframes">iFrames</a></li>
                    </ul>
            </nav>
        </header>
        <h1 style="text-align: center;background-color: red;color: white">Imagenes</h1>
        <a href="/">TechShop</a> | <a href="ejemplo2">Mis autos</a>
        <h2>Mis autos</h2>
        <img src="/img/Bumblebee-Chevrolet-Camaro-Barrett-Jackson-Scottsdale.png" alt=""/><br>
        <img src="https://cdn.shopify.com/s/files/1/1020/3561/files/transformer_camaro_01.jpg?11331677751112001434" width="800" alt=""/>
    </body>
</html>
