<!DOCTYPE html>
<!-- Mi primer página oficial -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop<a/>
                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a class="nav-link" href="ejemplo2">Mis autos</a></li>
                        <li class="nav-menu-item"><a class="nav-link" href="multimedia">Multimedia</a></li>
                        <li class="nav-menu-item"><a class="nav-link" href="iframes">iFrames</a></li>
                    </ul>
            </nav>
        </header>

        <aside>
            <h2>iFrames</h2>
            <p>Uso de iFrames</p>
        </aside>
        <section>
            <h2>TechShop Online</h2>
            <article>
                <h3>Website</h3>
                <p>No usar en banca</p>
                <iframe src="http://ufidelitas.ac.cr"
                        width="1100"
                        height="400">

                </iframe>
            </article>
            <article>
                <h3>YT</h3>
                <p>Estos son 7 misterios</p>
                <iframe width="1236" height="695" src="https://www.youtube.com/embed/Ajj1Vxi74XU" title="¡COÑOOOO! Errores de grabación de Dross (Bloopers)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </iframe>
            </article>
            <article>
                <h3>Estamos acá</h3>
                <p>¿Como llegar?</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.4294655549315!2d-84.07144142430319!3d9.898143174777733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3033a1e25a9%3A0x4855cce33c6c86e9!2sArena%20CWE!5e0!3m2!1ses-419!2scr!4v1747704160190!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
                </iframe>
            </article>

        </section>

        <footer>
            TechShop 2025 &COPY; All rights reserved
        </footer>
    </body>
</html>
