<!DOCTYPE html>
<!-- Mi primer página oficial -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 style="text-align: center;background-color: red;color: white">TechShop</h1>
        <a href="/">TechShop</a> | <a href="ejemplo2">Mis autos</a> 
        <h2>Su tienda en línea</h2>
        <p>Bienvenidos a donde podrán conocer más acerca tecnología y además llevar su equipo en mal funcionamiento a nuestros técnicos, con un precio que hasta sus gatos van a 
        querer asistir a nuestros servicios.</p>
    </body>
</html>
