<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}"/>        
    <body>
        <section th:fragment="tabsCategorias">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/pruebas/listado">[[#{pruebas.todas}]]</a>
                    </li>
                    <li th:each="c : ${categorias}" class="nav-item">
                        <a class="nav-link" th:href="@{/pruebas/listado/}+${c.idCategoria}">[[${c.descripcion}]]</a>
                    </li>
                </ul>
            </div>
        </section>
        <section th:fragment="tarjetas" class="bg-light">
            <div class="row row-cols-4 mt-10">
                <div class="card p-3" th:each="p : ${productos}">
                    <figure>
                        <div class="d-flex justify-content-center">
                            <img th:src="${p.rutaImagen}" height="200" alt="..."/>
                        </div>
                        <figcaption class="d-flex justify-content-evenly">
                            <span>¢[[${p.precio}]]</span>
                            <span>([[${p.existencias}]])</span>
                            <form>
                                <input type="hidden" name="idProducto"
                                       th:value="${p.idProducto}"/>
                                <input type="hidden" name="existencias"
                                       th:value="${p.existencias}"/>
                                <button type="button"
                                        class="btn btn-light"
                                        onclick="addCart(this.form)">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </button>
                            </form>
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4>[[${p.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p>[[${p.detalle}]]</p>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="filtros">
            <div class="row row-cols-4 p-2">
                <div>
                    <form method="post"
                          th:action="@{/pruebas/query1}"
                          class="was-validated">
                        <div class="card m-2">
                            <div class="card-header bg-primary text-white">
                                <h5 class="card-title text-center">[[#{pruebas.ampliadas}]]</h5>
                            </div>
                            <div class="card-body">
                                <div class="m-3">
                                    <label>[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control"
                                           required="true"
                                           th:name="precioInf" th:value="${precioInf}"/>
                                </div>
                                <div class="m-3">
                                    <label>[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control"
                                           required="true"
                                           th:name="precioSup" th:value="${precioSup}"/>
                                </div>

                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-magnifying-glass"></i>[[#{pruebas.ampliadas}]]
                                </button>
                            </div>
                        </div>


                    </form>
                </div>


                <div>
                    <form method="post"
                          th:action="@{/pruebas/query2}"
                          class="was-validated">
                        <div class="card m-2">
                            <div class="card-header bg-info text-white">
                                <h5 class="card-title text-center">[[#{pruebas.jpql}]]</h5>
                            </div>
                            <div class="card-body">
                                <div class="m-3">
                                    <label>[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control"
                                           required="true"
                                           th:name="precioInf" th:value="${precioInf}"/>
                                </div>
                                <div class="m-3">
                                    <label>[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control"
                                           required="true"
                                           th:name="precioSup" th:value="${precioSup}"/>
                                </div>

                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-magnifying-glass"></i>[[#{pruebas.jpql}]]
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <div>
                    <form method="post"
                          th:action="@{/pruebas/query3}"
                          class="was-validated">
                        <div class="card m-2">
                            <div class="card-header bg-success text-white">
                                <h5 class="card-title text-center">[[#{pruebas.nativo}]]</h5>
                            </div>
                            <div class="card-body">
                                <div class="m-3">
                                    <label>[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control"
                                           required="true"
                                           th:name="precioInf" th:value="${precioInf}"/>
                                </div>
                                <div class="m-3">
                                    <label>[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control"
                                           required="true"
                                           th:name="precioSup" th:value="${precioSup}"/>
                                </div>

                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-magnifying-glass"></i>[[#{pruebas.nativo}]]
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <div>
                    <form method="post"
                          th:action="@{/pruebas/queryNombre}"
                          class="was-validated">
                        <div class="card m-2">
                            <div class="card-header bg-warning text-dark">
                                <h5 class="card-title text-center">Consulta por Nombre</h5>
                            </div>
                            <div class="card-body">
                                <div class="m-3">
                                    <label>Buscar por nombre:</label>
                                    <input type="text" class="form-control"
                                           required="true"
                                           name="nombre"
                                           th:value="${nombre}"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-warning">
                                    <i class="fa-solid fa-magnifying-glass"></i> Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </section>
    </body>
</html>
